/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET*/

.btn {
  border: 1px solid black;
  background: grey;
  color: black;
  text-align: center
}

.btn:hover {
  cursor: pointer;
  background: olive;
}

#prov-btn {
  font-size: 1.2em;
  background:#3f6a97;
  color: #dddddd;
  text-align: center;
  margin-top: 2px;
  border: 1px solid #dddddd;
  width: 100%;
}

#buttons {
  font-size: 5em;
}

#brush {
  position: absolute;
  z-index: 1;
  background: white;
  border-radius: 60%;
  left: 10px;
  top: 10px;
}

#sidebar {
  width: 15vw;
  height: 100vh;
  overflow-y: scroll;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
}

#downloads-sidebar {
  width: 15vw;
  height: 100vh;
  overflow-y: scroll;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
}

#main-sidebar {
  font-size: 0.9em;
  height: fit-content;
  position: absolute;
  left: 15px;
  top: 15px;
  background: #3b3b3b;
  color: #dddddd;
  box-shadow: 1px 1px 1px #5b5b5b;
  opacity: 0.9;
  
}

#main-sidebar.minimized {
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

.gen-icon {
  width: 16px;
  height: 16px;
  position: relative;
  display: inline;
}

.gen-icon .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.8); /* Dark grey with half opacity */
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 20000;
  opacity: 0;
  transition: opacity 0.3s;
}

#startup:hover ~ #tooltip1 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#magnify:hover ~ #tooltip2 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#droptowater:hover ~ #tooltip3 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#colorswatch:hover ~ #tooltip4 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#color-map-icon:hover ~ #tooltip5 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#river-map-icon:hover ~ #tooltip6 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#papyrus-map-icon:hover ~ #tooltip7 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#heightmap-icon:hover ~ #tooltip8 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#broom:hover ~ #tooltip9 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#increase-elevation-icon:hover ~ #tooltip10 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#decrease-elevation-icon:hover ~ #tooltip11 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#raise-mountains-icon:hover ~ #tooltip12 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#lower-mountains-icon:hover ~ #tooltip13 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#spread-icon:hover ~ #tooltip14 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#rerun-rivers-icon:hover ~ #tooltip15 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#soften-spread-icon:hover ~ #tooltip16 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
} 

#paint-increase-elevation:hover ~ #tooltip17 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#paint-decrease-elevation:hover ~ #tooltip18 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#all-to-sea-level:hover ~ #tooltip19 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#water-to-sea-level:hover ~ #tooltip20 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#undoMap {
  display: none;
}

#redoMap {
  display: none;
}

#undoMap:hover ~#tooltip21 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#redoMap:hover ~#tooltip22 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#raiseLand:hover ~#tooltip23 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#lowerWater:hover ~#tooltip24 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#noiseMap:hover ~#tooltip25 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}

#provmap-icon:hover ~#tooltip26 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}


#watermap-icon:hover ~#tooltip27 {
  visibility: visible;
  opacity: 1;
  top: 105%; /* Position the tooltip above the image */
  left: 50%;
  margin-left: -10px; /* Center the tooltip */
}





.small-icon-button {
  border: 1px solid #dddddd;
}

.small-icon-button:hover {
  cursor: pointer;
}

.img-icon:hover {
  cursor: pointer
}

.gen-icon img {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.color-swatches {
  background: #454545;
  border: 1px solid #dddddd;
  width: 15px;
  height: 15px;
  display: inline-block;
}

#imageUpload {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

#image-download-settings {
  display: none;
  background: #454545;
  color: #dddddd;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  text-align: center;
  padding-top: 50px;
}

#text-download-settings {
  display: none;
  background: #454545;
  color: #dddddd;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
  overflow: scroll;
}

#province-creation-screen {
  display: none;
  background: #454545;
  color: #dddddd;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 50px;
}


#main-sidebar-top {
  color: #dddddd;
  background: #454545;
  padding: 10px;
  text-align: center;
}

#main-sidebar-top:hover {
  cursor: pointer;
}

#main-sidebar-bottom {
  color: #dddddd;
  background: #454545;
  padding: 10px;
  text-align: center;
}

.sbtn {
  padding: 10px;
  text-align: center;
}

.sbtn:hover {
  cursor: pointer;
  background: green;
  color: white;
}

#top-bar-province-menu {
  background: black;
  color: #dddddd;
  padding: 10px;
}

#top-bar-province-menu:hover {
  cursor: pointer;
}

#canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

#province-drawn-proceed {
  position: absolute;
  left: 40vw;
  top: 40vh;
  height: 20vh;
  width: 20vw;
  border: 1px solid black;
  background: white;
  color: black;
  padding: 2vh;
  z-index: 10000;
  display: none;
}

#done-done {
  z-index: 15000;
  display: none;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  color: #333;
}

#done-done p {
  font-size: 1.2em;
  line-height: 1.6;
}

#done-done ol {
  padding-left: 20px;
}

#done-done ol li {
  margin-bottom: 10px;
  padding-left: 10px;
  list-style-type: decimal;
  font-size: 1em;
}

#done-done ol li a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

#done-done ol li a:hover {
  color: #0056b3;
}

#done-done a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

#done-done a:hover {
  color: #0056b3;
}

#done-done ol li::marker {
  font-weight: bold;
  color: #333;
}

.download-buttons {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  background: rgb(111, 160, 119);
  color: #3b3b3b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.download-buttons:hover {
  background-color: rgb(37, 92, 58);
  transform: scale(1.05);
}

.download-buttons:active {
  background-color: rgb(37, 92, 58);
  transform: scale(1);
}
/*
#landing-screen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 10000;
  color: #dddddd;
  background: #454545;
  display: block;
}

#landing-text {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  border: 1px solid #dddddd;
  box-shadow: 1px 1px 1px #dddddd;
  background: white;
  color: black;
  padding: 20px;
}
*/

.main-landing-heading {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 20px;
}

.text-intro {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold
}

.main-landing-text {
  font-size: 1.2em;
  margin-top: 20px;
}

.landing-header {
  font-size: 3em;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 2vh;
  margin-top: 5vh;
}

.avatar {
  margin-top: 20px;
  border-radius: 66%;
  border: 1px solid black
}

/*
#start-generator-button {
  font-size: 1.2em;
  background:#3f6a97;
  color: #dddddd;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
 

#start-generator-button:hover {
  cursor: pointer;
  background: rgb(103, 139, 97)
}
   */

#settings-box {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.centered-text {
  text-align: center
}

.bold-text {
  font-weight: bold;
}

.large-text {
  font-size: 2em
}

.settings-container {
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settings-container h2 {
  margin-bottom: 20px;
}

.settings-columns {
  display: flex;
  justify-content: space-between;
}

.settings-column {
  flex: 1;
  margin-right: 40px; /* Space between columns */
}

.settings-column:last-child {
  margin-right: 0; /* Remove margin for the last column */
}

.setting {
  margin-bottom: 20px;
}

.setting label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.setting input[type="text"],
.setting input[type="email"],
.setting input[type="password"],
.setting input[type="number"],
.setting select,
.setting input[type="range"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.theme-options {
  display: flex;
  justify-content: start;
}

.theme-options label {
  margin-right: 20px;
}

.setting input[type="radio"] {
  margin-right: 5px;
}

button[type="submit"] {
  width: 100%;
  background: #333;
  color: #fff;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #555;
}

#buttons {
  display: none;
}

.slider-container {
  display: flex;
  align-items: center;
  background-color: #3a3a3a;
  padding: 5px;
  border: 1px solid #4a4a4a;
}

.slider-label {
  color: white;
  margin-right: 10px;
}

.slider {
  width: 80%;
  height: 6px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.outset-text {
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #4a4a4a;
  cursor: pointer;
  border: 1px solid #4a4a4a;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #4a4a4a;
  cursor: pointer;
  border: 1px solid #4a4a4a;
}

#province-menu {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 20000;
  background: #4a4a4a;
  color: #dddddd;
  border: 1px solid white;
}

#top-bar-edits-menu {
  padding: 10px;
}

.slider-value {
  width: 60px;
  margin-left: 10px;
  background-color: #3a3a3a;
  color: white;
  border: 1px solid #4a4a4a;
  text-align: right;
  padding-right: 5px;
}

.color-box {
  margin-left: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #4a4a4a;
  position: relative;
  cursor: pointer;
  background-color: rgb(204, 163, 102);
  display: inline-block;
}

.color-picker {
  display: none;
  position: absolute;
  left: 10vw;
  top: 5vh;
  width: 10vw;
  padding: 5px;
  background-color: #222;
  border: 1px solid #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.color-option {
  width: 20px;
  height: 20px;
  margin: 2px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.color-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  font-size: 10px;
  white-space: nowrap;
  z-index: 1001;
}
.color-option:hover .color-tooltip {
  display: block;
}

.menu-btn {
  background: rgb(111, 160, 119);
  color: #3b3b3b;
}

.file-upload-wrapper {
  position: relative;
  overflow: hidden;
}

.file-upload-button {
  border: 2px solid #555;
  color: #3b3b3b;
  background-color: rgb(111, 160, 119);
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.file-upload-button:hover {
  background-color: #333;
  border-color: #333;
  cursor: pointer;
}

.file-upload-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#imageUpload:hover {
  cursor: pointer;
}

#brush {
  position: absolute;
  width: var(--brush-size);
  height: var(--brush-size);
  background-color: rgba(255, 0, 0, 0.5); /* Change color and opacity as needed */
  border-radius: 50%; /* Makes it a circle */
  pointer-events: none; /* Allows you to interact with the map beneath */
  transform: translate(-50%, -50%); /* Center the brush on the cursor */
}

#minimize-button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

#ink-images {
  display: none;
}

 /* Tooltip container */
 .tt {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tt .ttText {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tt .ttText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tt:hover .ttText {
  visibility: visible;
  opacity: 1;
} 

.zoom-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  background: var(--button-color);
  color: var(--font-color);
  border: var(--border-color) 2px solid;
}

.zoom-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 30000;
  position: fixed;
  right: 10px;
  top: 10px;
}

.fullscreen-button {
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
  border-radius: 50%;
  background: var(--button-color);
  color: var(--font-color);
  border: var(--border-color) 2px solid;
}