:root {
  --panel-bg: #29282d83;
  --cat-bg: #29282dc4;
  --font-color: #ececec;
  --border-color: #766752;
  --button-color: #2d2c31;
  --botton-color-hover: #3b291d;
}

#menus-main{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  display: inline-block;
  width:450px;
  color:var(--font-color);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}

#menus-map-modes{
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    display: inline-block;
    width: fit-content;
    color:var(--font-color);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

.ck-style-tray{
  background: var(--panel-bg);
  padding: 10px;
  border-radius: 5px;
}

.icon-tray{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
}

.display-horizontal{
    position: relative;
    display: inline-flex;
}

.icon-clickable:hover{
    cursor: pointer;
}

.icon-tools img{
  width: 15px;
  margin: 2px;
}

.icon-small-round img{
    width: 30px;
    margin: 2px;
    border-radius: 50%;
    border: var(--border-color) 2px solid;
}

.icon-extra-small img{
    width: 15px;
    margin: 2px;
}

.has-tool-tip{
  position: relative;
}

.has-tool-tip .tool-tip {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  font-size: 0.8em;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;

  opacity: 0;
  transition: opacity 0.3s;
}

.has-tool-tip:hover .tool-tip{
  visibility: visible;
  opacity: 1;
} 

.menu-section-header{
  width:100%;
}

.menu-section-header img{
  margin-right: 10px;
}

.menu-cat{
  background-color: var(--cat-bg);
  border-radius: 5px;
  padding:5px;
  margin-bottom: 5px;
}

.menu-setting label{
  width:50%;
}

.flex-spread-evenly{
  display: flex;
  justify-content: space-between;
}

.flex-align-vertically{
  align-items: center;
}
/* Smaller elements */
.input-field{
  width: 33%;
}

.ck-button{
  cursor: pointer;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  background: var(--button-color);
  color: var(--font-color);
  border: var(--border-color) 2px solid;
}

.ck-button:hover{
  background: var(--botton-color-hover);
  transition: 0.3s;
}

.menu-cat input,
.menu-cat select {
  padding: 2px;
  width: 33%;
}


.tabs {
  display: flex;
  flex-wrap: wrap;
  background-color: #333;
  font-size: 1.5em;
}

.tab-button {
  background-color: inherit;
  flex: 1 1 25%; 
  border: var(--border-color) 2px solid;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: var(--font-color);
  text-align: center;
}

.tab-button:hover {
  background-color: var(--button-color);
}

.tab-button.active {
  background-color: var(--botton-color-hover);
}

.tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.right-menu-heading {
  text-align: center;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
}